<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.css' />
	</head>

	<body>
		<div style="background-color:lightblue;" align="center">
			<a href="/db">Database</a> |
			<a href="/test?id=1">Test</a>
		</div>
		<br/>
		<div style="margin-left:25px;" class="slds-container--small">
  		  <h1>Sample Node app Heroku</h1>
  		</div>
	</body>
</html>