<!DOCTYPE html>
<html>
	<head>
		<link rel='stylesheet' href='/salesforce-ux/design-system/assets/styles/salesforce-lightning-design-system.css' />
	</head>

	<body>
		<div style="background-color:lightblue;" align="center">
			<a href="/">Home</a> |
			<a href="/db">Database</a>
		</div>
		<br/>
		<div style="margin-left:25px;" class="slds-container--small">
 	 		<form method="post" action="/test">
  				<input type="text" name="orderId" style="display:none;" value=<%= id %>>
  				<p class="slds-text-heading--label slds-m-bottom--small">The order is "<%= selectList %>"</p>
  				Select an option and hit submit to change the status of the order: 
				<select name="selectList" class="slds-dropdown slds-dropdown--left">
  					<option value="Not Started" <% if(selectList == 'Not Started') { %> Selected <% } %> >Not Started</option>
  					<option value="In Process" <% if(selectList == 'In Process') { %> Selected <% } %> >In Process</option>
  					<option value="Shipped" <% if(selectList == 'Shipped') { %> Selected <% } %> >Shipped</option>
 					<option value="Delivered" <% if(selectList == 'Delivered') { %> Selected <% } %> >Delivered</option>
	 				<option value="Returned" <% if(selectList == 'Returned') { %> Selected <% } %> >Returned</option>
				</select>
				<br/><br/>
  				<button name="submit" class="slds-button slds-button--neutral">Submit</button>
	  		</form>
  		</div>
	</body>
</html>