<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<a href="/">Home</a>
		<div class="jumbotron text-center">
  		  <h1>Passed in parameter is --> <%= id%></h1>
  		</div>
  		<form method="post" action="/test">
  		
  			<input type="text" name="orderId" value=<%= id %>>
  			<%= selectList %>
			<select name="selectList">
  				<option value="Not Started" <% if(selectList == 'Not Started') { %> Selected <% } %> >Not Started</option>
  				<option value="In Process" <% if(selectList == 'In Process') { %> Selected <% } %> >In Process</option>
  				<option value="Shipped" <% if(selectList == 'Shipped') { %> Selected <% } %> >Shipped</option>
 				<option value="Delivered" <% if(selectList == 'Delivered') { %> Selected <% } %> >Delivered</option>
 				<option value="Returned" <% if(selectList == 'Returned') { %> Selected <% } %> >Returned</option>
			</select>

  			<input type="submit" name="submit" value="Submit">
  		</form>
	</body>
	
</html>