<!DOCTYPE html>
<html>
	<head>
	</head>

	<body>
		<a href="/">Home</a>
		<div class="jumbotron text-center">
  		  <h1>Passed in parameter is --> <%= id%></h1>
  		</div>
  		<form method="post" action="/test">
  		
  			<input type="text" name="orderId" value=<%= id %>>
  			<select name="selectList">
  				<option value="Not Started">Not Started</option>
  				<option value="In Process">In Process</option>
  				<option value="Shipped">Shipped</option>
 				<option value="Delivered">Delivered</option>
 				<option value="Returned">Returned</option>
			</select>

  			<input type="submit" name="submit" value="Submit">
  		</form>
	</body>
	
</html>